*{
    width: 100%;
}
body{
    clear: both;
}
header{
    font-size: 100px;
}
div#sus a{
    border: 1px solid red;
    background-color: yellow;
    float: left;
    width: 20%;
    height: 100px;
    text-align: center;

}

#ses a {
    
}


/*div.split3 div{
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
    padding: 0 2%
    }




























































































































































































/**/